* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 74px;
}

header nav .div1 img {
    width: 50px;
    height: 50px;
}

article {
    top: 90px;
    right: 20px;
}

article ul {
    width: 60px;
    list-style: none;
    font-size: 40px;
}

article ul li:first-child {
    color: white;
    background-color: #1877f2;
}

article ul li:nth-child(2){
    color: white;
    background-color: #e1306c;
}

article ul li:last-child {
    color: white;
    background-color: #1da1f2;
}

.sec1 {
    height: 600px;
}

.sec1 img {
    height: 600px;
}


@media (max-width: 800px) {
    .sec1,
    .sec1 img {
        height: 400px;
    }
}

.sec3 {
    height: 400px;
    background-image: url("../img/syria.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (min-width: 992px) {
    .sec10 {
        display: none;
    }
}

@media (max-width: 991px){
    .sec4 {
        display: none;
    }
}

.sec5 div div .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    transition: 0.3s;
}

.sec5 div div .card::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    transition: 0.3s;
}

.sec5 div div .card:hover::after,
.sec5 div div .card:hover::before {
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.2;
}

.sec6 {
    width: 80%;
    margin: auto;
}

.sec6 .div1 .text {
    width: 70%;
    transform: skewX(-11deg);
    left: 50px;
}

.sec6 .div1 .img {
    width: 30%;
    background-image: url("../img/box1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

.sec6 .div1:hover .img {
    transform: scale(1.3);
}

.sec6 .div2 .text {
    width: 70%;
    transform: skewX(11deg);
    right: 50px;
}

.sec6 .div2 .img{
    width: 30%;
    background-image: url("../img/box2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

@media (max-width: 800px) {
    .sec6 .div1 .img,
    .sec6 .div2 .img {
        display: none;
    }
    .sec6 .div1 .text {
        width: 100%;
        transform: skewX(0deg);
        text-align: center;
        left: 0;
    }
    .sec6 .div2 {
        display: block !important;
    }
    .sec6 .div2 .text {
        width: 100%;
        transform: skewX(0deg);
        text-align: center;
        right: 0;
    }
}

.sec6 .div2:hover .img {
    transform: scale(1.3);
}

.sec7 {
    height: 400px;
    background-image: url("../img/aleppo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sec8 .parent .card1 {
    height: 400px;
    background-image: url("../img/card1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

.sec8 .parent .card1:hover {
    transform: scale(0.8);
}

.sec8 .parent .card1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 1;
}

.sec8 .parent .card2 {
    height: 400px;
    background-image: url("../img/card2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

.sec8 .parent .card2:hover {
    transform: scale(.8);
}

.sec8 .parent .card2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}


.sec8 .parent .card1 div img,
.sec8 .parent .card2 div img {
    left: 50px;
}

.sec9 .parent .icons .links div svg {
    font-size: 100px;
}

.sec9 .parent .icons .links .link1 svg {
    color: #e1306c;
}

.sec9 .parent .icons .links .link2 svg {
    color: #1877f2;
}
.sec9 .parent .icons .links .link3 svg {
    color: #1da1f2;
}